---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAu8lEPdQqG0pLMj49uwLVli32zwEd0afQ&query=100%20Main%20Cleveland%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "W 100th St, Cleveland, OH, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 41.4670198,
                       "lng" : -81.75318229999999
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "3c0b8c10e796f3a57707fa96a72472f73b0f7550",
                 "name" : "West 100th Street",
                 "place_id" : "ChIJOZq-EN_xMIgRIOoFWTHo_Js",
                 "reference" : "CoQBewAAAJj298l7JD3aYnD_sS9gSWsIIxw-eL7-Z7V7OE-JNuH3vxUPsYIvggjWBaXtQDRlMV_5lZpceMTtuRhgFHAk7unM5gB5_3PyTZw2pakI9Sb0fMpzUlkW3eEu4Y3qUtb68hPhX9AQUMBYbzbU3RfC0t0cBT8bvpbAu8FZdwPRvgdeEhCbx1LBfBrR47Mdy4ja0Vc2GhRAD3uSCGFXPv0ICdkqAgoPFJDpPQ",
                 "types" : [ "route" ]
              },
              {
                 "formatted_address" : "E 100th St, Cleveland, OH 44106, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 41.49904300000001,
                       "lng" : -81.61833399999999
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "fb78fe6863bcd77bce38bf1723d0e6c3a56cac14",
    [...]
