---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAu8lEPdQqG0pLMj49uwLVli32zwEd0afQ&query=to%20tcity%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "US-13 BUS, Fruitland, MD 21826, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.32037649999999,
                       "lng" : -75.6221054
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.32053025,
                          "lng" : -75.62102540000001
                       },
                       "southwest" : {
                          "lat" : 38.31991524999999,
                          "lng" : -75.6224654
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png",
                 "id" : "ff35be4a393baccf117304158fa730872b26ae8a",
                 "name" : "Top City",
                 "opening_hours" : {
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 4320,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108692224979812372914/photos\"\u003eKeith Johnson\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAALt8v-nAKadjr2usCVOAVKGlLgofhMVAzVddaSdNH6qTXDTi7yXMB1zZVmpW8iriHIff9hQt21_jM2pFvlpEjovzvqut9QzoNoc7SZZzKm-h90MwWKTaBLwl4-y41cFZ6J28E4_2L-4yGYPjEyq8IP6lNtRdYRdYKJFX7LdGq5SUEhCByekyt7NTixmEqGHjOVL1GhQ2ikxK6B3Mnr9jlwLqDfXp-KmFLQ",
                       "width" : 2432
                    }
                 ],
                 "place_id" : "ChIJu3Uh7Z0GuYkR-p33N7IrdFg",
                 "reference" : "CmRbAAAA9shIVSRttoMIh05yTO2LgOJmZFWwmZZ2K_mKbJT059Ns-Ny7i35ZVPvsIwmtJ2xapCcvjPbqqMFKDxuoXZCGQAkpT7itCvvZmZVgKSmIlH7TBvoOFTEcKyMAqQVSxDH8EhBNeNffkSFTKIgBg4f8QYpwGhSma5kEPSeZEUh3mxi34xC1V0h_Ng",
                 "types" : [ "car_repair", "store", "point_of_interest", "establishment" ]
              },
              {
                 "formatted_address" : "2970 N Dupont Hwy, Dover, DE 19901, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.1959509,
                       "lng" : -75.549277
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.19607795,
              [...]
